---
import App from "../App.astro";
---

<App>
  <main class="max-w-full overflow-hidden">
    <!-- О компании -->
    <section class="max-w-[1160px] mx-auto px-5 xl:px-0">
      <div
        class="flex flex-col lg:flex-row items-start justify-between gap-[20px] lg:gap-[83px] mt-[60px]"
      >
        <h4 class="text-[24px] lg:text-[32px] font-semibold w-[80%]">
          О компании
        </h4>

        <p style="max-width: 720px;">
          Bilet23.ru - официальный билетный оператор Сочи, специализирующийся на
          продаже театральных и концертных билетов на главные площадки города.
          Мы гордимся тем, что предоставляем доступ к самым ярким и
          запоминающимся событиям культурной жизни города.
          <br />
          <br />

          Мы стремимся обеспечить зрителям лучшие места на самые долгожданные
          мероприятия, делая процесс приобретения билетов простым и беззаботным.
          <br />
          <br />

          Наша цель - сделать ваше посещение концертных залов
          незабываемым и комфортным.
          <br />
          <br />
        </p>
      </div>
    </section>
  </main>
</App>
