---
import App from "../App.astro";
---

<App>
  <main class="max-w-full overflow-hidden">
    <!-- Концерт -->
    <section class="max-w-[1160px] mx-auto px-5 xl:px-0">
      <!-- Img -->
      <img
        src="./assets/images/Mask group.png"
        alt="404"
        class="mt-10 lg:mt-12 xl:mt-[60px] w-full h-[345px] sm:h-[180px] md:h-[245px] lg:h-[370px] object-cover rounded-[10px] sm:rounded-[15px] md:rounded-[30px]"
      />

      <!-- Концерт  -->
      <div
        class="mt-5 w-full flex flex-col items-start gap-5 sm:mt-[30px] xl:mt-[50px]"
      >
        <div class="w-full flex flex-col gap-[10px]">
          <a
            href="./ploshadka.html"
            target="_blank"
            class="text-2xl md:text-[32px] font-semibold"
          >
            Концерт «Органный фестиваль. Даниэль Сальвадор»
          </a>
          <p class="text-base md:text-lg font-medium">
            18 марта · СБ · 12:00 · 2023 · Театр · Детям
          </p>
        </div>

        <div class="w-full flex flex-wrap justify-start gap-x-5 gap-y-2">
          <button
            class="h-[45px] sm:max-w-[50%] grow basis-52 rounded-[50px] bg-[#F71313] text-white font-medium"
          >
            Купить билет
          </button>
        </div>

        <a
          href="./ploshadka.html"
          target="_blank"
          class="mt-5 text-base sm:text-lg md:text-lg border-b font-medium border-[#F71313]"
        >
          ТРЕТЬЯКОВСКАЯ ГАЛЕРЕЯ
        </a>
      </div>

      <!-- Описание -->
      <div class="mt-5 lg:mt-10">
        <div class="flex flex-col items-start gap-5 md:gap-[30px]">
          <h2 class="text-2xl lg:text-[32px] font-semibold">Описание</h2>
          <p class="sm:text-lg">
            С 11 по 30 марта в Зале Зарядье пройдёт органный фестиваль. Лучшие
            органисты соберутся в Москве выступить на одном из самых больших
            органов Европы в зале с уникальной акустикой.
            <br /><br />
            В программе фестиваля заявлены дневные и вечерние концерты, мастер-классы
            и экскурсии, лекции и эксклюзивные встречи для профессионального сообщества
            органистов, а также премьеры произведений, специально написанных для
            французского органа Зала Зарядье.
            <br /><br />
            С 11 по 30 марта в Зале Зарядье пройдёт органный фестиваль. Лучшие органисты
            соберутся в Москве выступить на одном из самых больших органов Европы
            в зале с уникальной акустикой.
            <br /><br />
            В программе фестиваля заявлены дневные и вечерние концерты, мастер-классы
            и экскурсии, лекции и эксклюзивные встречи для профессионального сообщества
            органистов, а также премьеры произведений, специально написанных для
            французского органа Зала Зарядье.
            <br /><br />
            С 11 по 30 марта в Зале Зарядье пройдёт органный фестиваль. Лучшие органисты
            соберутся в Москве выступить на одном из самых больших органов Европы
            в зале с уникальной акустикой.
            <br /><br />
            В программе фестиваля заявлены дневные и вечерние концерты, мастер-классы
            и экскурсии, лекции и эксклюзивные встречи для профессионального сообщества
            органистов, а также премьеры произведений, специально написанных для
            французского органа Зала Зарядье.
          </p>
          <button
            class="w-full h-[45px] rounded-[40px] border border-[#F71313] text-[#F71313] xs:w-[240px] hover:bg-[#F71313] hover:text-white transition-all duration-200"
          >
            Подробнее
          </button>
        </div>
      </div>

      <!-- Галерея -->
      <div
        class="mt-[50px] sm:mt-[60px] mb-5 xl:mt-20 w-full flex flex-col gap-5 md:gap-10 xl:gap-14"
      >
        <h2 class="text-xl lg:text-[32px] font-semibold">Галерея</h2>
        <div class="w-full grid sm:grid-cols-2 lg:grid-cols-3 gap-5 xl:gap-10">
          <img
            src="./assets/images/female-mime-showing-stop-gesture-to-male-mime-artist-holding-red-rose.png"
            alt=""
            class="gallery-img rounded-[10px] h-[200px] sm:h-[150px] md:h-[200px] xl:h-[245px] w-full cursor-pointer object-cover"
          />
          <img
            src="./assets/images/manuel-nageli-p60mNTW5glI-unsplash.png"
            alt=""
            class="gallery-img rounded-[10px] h-[200px] sm:h-[150px] md:h-[200px] xl:h-[245px] w-full cursor-pointer object-cover"
          />
          <img
            src="./assets/images/flamenco-performance-on-stage.png"
            alt=""
            class="gallery-img rounded-[10px] h-[200px] sm:h-[150px] md:h-[200px] xl:h-[245px] w-full cursor-pointer object-cover"
          />
          <img
            src="./assets/images/male-mime-whispering-in-shocked-female-mime-s-ear-sitting-on-chair-in-auditorium.png"
            alt=""
            class="gallery-img rounded-[10px] h-[200px] sm:h-[150px] md:h-[200px] xl:h-[245px] w-full cursor-pointer object-cover"
          />
          <img
            src="./assets/images/portrait-of-a-singer-on-the-stage.png"
            alt=""
            class="gallery-img rounded-[10px] h-[200px] sm:h-[150px] md:h-[200px] xl:h-[245px] w-full cursor-pointer object-cover"
          />
          <img
            src="./assets/images/two-mime-artist-performing-on-stage-in-an-empty-auditorium.png"
            alt=""
            class="gallery-img rounded-[10px] h-[200px] sm:h-[150px] md:h-[200px] xl:h-[245px] w-full cursor-pointer object-cover"
          />
        </div>
        <iframe
          src="https://www.youtube.com/embed/aLP4JPzphnY?si=kfvVLLoo9_QqdBOM"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
          class="w-full h-[300px] lg:h-[642px] xl:h-[642px] rounded-[10px]"
        ></iframe>
      </div>

      <!-- Modal -->
      <div id="imageModal" class="modalKonsert hidden">
        <span class="closeK">&times;</span>
        <div class="modalK-content">
          <img id="modalImage" src="" />
        </div>
      </div>
    </section>
  </main>
</App>
