---
import App from "../App.astro";
---

<App>
  <main class="max-w-full overflow-hidden">
    <!--   Карточка организации -->
    <section class="max-w-[1160px] mx-auto px-5 xl:px-0">
      <h2
        class="text-[24px] lg:text-[32px] font-semibold mt-[30px] md:mt-[60px]"
      >
        Карточка организации
      </h2>
      <div class="lg:mt-[60px] space-y-2 md:space-y-0 mt-[30px] md:mt-0">
        <div
          class="flex flex-col md:flex-row bg-[#F3F3F3] rounded-[10px] p-2 md:p-0"
        >
          <div
            class="px-4 md:px-6 py-1 md:py-3 text-left text-[16px] md:text-[18px] font-bold text-black uppercase tracking-wider rounded-l-[10px]"
          >
            Фирменное наименование
          </div>
          <div
            class="px-4 md:px-6 py-1 md:py-3 text-[14px] md:text-[16px] rounded-r-[10px] text-gray-900"
          >
            Общество с ограниченной ответственностью «BILET23.RU»
          </div>
        </div>
        <div class="flex flex-col md:flex-row bg-white rounded-[10px]">
          <div
            class="px-4 md:px-6 py-1 md:py-3 text-left text-[16px] md:text-[18px] font-bold text-black uppercase tracking-wider rounded-l-[10px] md:w-[350px]"
          >
            Юридический адрес
          </div>
          <div
            class="px-4 md:px-6 py-1 md:py-3 text-[14px] md:text-[16px] rounded-r-[10px] text-gray-900"
          >
            123456 г. Сочи ул. Название 1
          </div>
        </div>
        <div
          class="flex flex-col md:flex-row bg-[#F3F3F3] rounded-[10px] p-2 md:p-0"
        >
          <div
            class="px-4 md:px-6 py-1 md:py-3 text-left text-[16px] md:text-[18px] font-bold text-black uppercase tracking-wider rounded-l-[10px] md:w-[350px]"
          >
            ИНН
          </div>
          <div
            class="px-4 md:px-6 py-1 md:py-3 text-[14px] md:text-[16px] rounded-r-[10px] text-gray-900"
          >
            123456789
          </div>
        </div>
        <div class="flex flex-col md:flex-row rounded-[10px] p-2 md:p-0">
          <div
            class="px-4 md:px-6 py-1 md:py-3 text-left text-[16px] md:text-[18px] font-bold text-black uppercase tracking-wider rounded-l-[10px] md:w-[350px]"
          >
            КПП
          </div>
          <div
            class="px-4 md:px-6 py-1 md:py-3 text-[14px] md:text-[16px] rounded-r-[10px] text-gray-900"
          >
            123456789
          </div>
        </div>
        <div class="flex flex-col md:flex-row bg-[#F3F3F3] rounded-[10px]">
          <div
            class="px-4 md:px-6 py-1 md:py-3 text-left text-[16px] md:text-[18px] font-bold text-black uppercase tracking-wider rounded-l-[10px] md:w-[350px]"
          >
            Расчетный счет
          </div>
          <div
            class="px-4 md:px-6 py-1 md:py-3 text-[14px] md:text-[16px] rounded-r-[10px] text-gray-900"
          >
            123456789123456789
          </div>
        </div>
        <div class="flex flex-col md:flex-row rounded-[10px] p-2 md:p-0">
          <div
            class="px-4 md:px-6 py-1 md:py-3 text-left text-[16px] md:text-[18px] font-bold text-black uppercase tracking-wider rounded-l-[10px] md:w-[350px]"
          >
            БИК банка
          </div>
          <div
            class="px-4 md:px-6 py-1 md:py-3 text-[14px] md:text-[16px] rounded-r-[10px] text-gray-900"
          >
            12345
          </div>
        </div>
        <div
          class="flex flex-col md:flex-row bg-[#F3F3F3] rounded-[10px] p-2 md:p-0"
        >
          <div
            class="px-4 md:px-6 py-1 md:py-3 text-left text-[16px] md:text-[18px] font-bold text-black uppercase tracking-wider rounded-l-[10px] md:w-[350px]"
          >
            Генеральный директор
          </div>
          <div
            class="px-4 md:px-6 py-1 md:py-3 text-[14px] md:text-[16px] rounded-r-[10px] text-gray-900"
          >
            ФИО
          </div>
        </div>
        <div class="flex flex-col md:flex-row rounded-[10px] p-2 md:p-0">
          <div
            class="px-4 md:px-6 py-1 md:py-3 text-left text-[16px] md:text-[18px] font-bold text-black uppercase tracking-wider rounded-l-[10px] md:w-[350px]"
          >
            E-mail
          </div>
          <div
            class="px-4 md:px-6 py-1 md:py-3 text-[14px] md:text-[16px] rounded-r-[10px] text-gray-900"
          >
            e-mail
          </div>
        </div>
        <div
          class="flex flex-col md:flex-row bg-[#F3F3F3] rounded-[10px] p-2 md:p-0"
        >
          <div
            class="px-4 md:px-6 py-1 md:py-3 text-left text-[16px] md:text-[18px] font-bold text-black uppercase tracking-wider rounded-l-[10px] md:w-[350px]"
          >
            Телефон
          </div>
          <div
            class="px-4 md:px-6 py-1 md:py-3 text-[14px] md:text-[16px] rounded-r-[10px] text-gray-900"
          >
            +7 (000) 000-00-00
          </div>
        </div>
      </div>
    </section>
  </main>
</App>
