---
import App from "../App.astro";
---

<App>
  <main class="max-w-full overflow-hidden">
    <!--  Работа у нас -->
    <section class="max-w-[1160px] mx-auto px-5 xl:px-0 py-10 xl:pt-[60px]">
      <form
        class="flex flex-col justify-center items-center w-full bg-white p-6 rounded-lg shadow-md"
      >
        <h2 class="text-[24px] md:text-[36px] font-semibold mb-4 text-black">
          Работа у нас
        </h2>
        <div class="w-full lg:w-[50%] space-y-4">
          <input
            type="text"
            placeholder="Фамилия Имя"
            class="w-full text-[18px] p-2 px-[20px] border border-gray-300 rounded-[30px] outline-none focus:border-[#F71313]"
          />
          <input
            type="number"
            placeholder="Телефон"
            class="w-full text-[18px] p-2 px-[20px] border border-gray-300 rounded-[30px] outline-none focus:border-[#F71313]"
          />
          <input
            type="email"
            placeholder="E-mail"
            class="w-full text-[18px] p-2 px-[20px] border border-gray-300 rounded-[30px] outline-none focus:border-[#F71313]"
          />
          <textarea
            placeholder="Комментарий"
            class="w-full text-[18px] p-2 px-[20px] border border-gray-300 rounded-[30px] outline-none focus:border-[#F71313]"
          ></textarea>
          <button
            type="submit"
            class="w-full py-2 text-[18px] p-2 px-[20px] bg-[#F71313] text-white rounded-[30px] hover:bg-[#c01212] transition-colors"
          >
            Отправить
          </button>
        </div>
      </form>
    </section>
  </main>
</App>
