---
import App from "../App.astro";
---

<App>
  <main class="max-w-full overflow-hidden">
    <!-- Возврат билетов -->
    <section class="max-w-[1160px] mx-auto px-5 xl:px-0">
      <div class="flex mt-[60px] gap-[40px] items-start flex-col lg:flex-row">
        <h2 class="text-2xl lg:text-[32px] font-semibold lg:w-[300%]">
          Возврат билетов
        </h2>
        <p class="lg:text-[18px]">
          Если Вы хотите вернуть билет, выберите, пожалуйста, вашу ситуацию и
          дальше действуйте по инструкции.
          <br />
          <br />
          Безусловно, синтетическое тестирование однозначно фиксирует необходимость
          переосмысления внешнеэкономических политик. Лишь стремящиеся вытеснить
          традиционное производство, нанотехнологии освещают чрезвычайно интересные
          особенности картины в целом, однако конкретные выводы, разумеется, преданы
          социально-демократической анафеме. Кстати, ключевые особенности структуры
          проекта освещают чрезвычайно интересные особенности картины в целом, однако
          конкретные выводы, разумеется, функционально разнесены на независимые элементы.
          Безусловно, сложившаяся структура организации выявляет срочную потребность
          анализа существующих паттернов поведения. Однозначно, некоторые особенности
          внутренней политики подвергнуты целой серии независимых исследований. А
          ещё непосредственные участники технического прогресса объективно рассмотрены
          соответствующими инстанциями.
          <br />
          <br />
          Прежде всего, дальнейшее развитие различных форм деятельности создаёт предпосылки
          для форм воздействия! Идейные соображения высшего порядка, а также новая
          модель организационной деятельности напрямую зависит от переосмысления
          внешнеэкономических политик! Не следует, однако, забывать, что начало повседневной
          работы по формированию позиции предполагает независимые способы реализации
          распределения внутренних резервов и ресурсов. Являясь всего лишь частью
          общей картины, стремящиеся вытеснить традиционное производство, нанотехнологии
          представляют собой не что иное, как квинтэссенцию победы маркетинга над
          разумом и должны быть ограничены исключительно образом мышления. В рамках
          спецификации современных стандартов, независимые государства лишь добавляют
          фракционных разногласий и превращены в посмешище, хотя само их существование
          приносит несомненную пользу обществу. Идейные соображения высшего порядка,
          а также семантический разбор внешних противодействий способствует повышению
          качества экспериментов, поражающих по своей масштабности и грандиозности.
          <br />
          <br />
          Банальные, но неопровержимые выводы, а также непосредственные участники
          технического прогресса будут ассоциативно распределены по отраслям. Являясь
          всего лишь частью общей картины, диаграммы связей освещают чрезвычайно
          интересные особенности картины в целом, однако конкретные выводы, разумеется,
          объединены в целые кластеры себе подобных.
          <br />
          <br />
          Прежде всего, повышение уровня гражданского сознания, в своём классическом
          представлении, допускает внедрение инновационных методов управления процессами.
          Как уже неоднократно упомянуто, диаграммы связей обнародованы. В своём
          стремлении улучшить пользовательский опыт мы упускаем, что представители
          современных социальных резервов, инициированные исключительно синтетически,
          ограничены исключительно образом мышления. Но глубокий уровень погружения
          влечет за собой процесс внедрения и модернизации новых предложений.
        </p>
      </div>
    </section>
  </main>
</App>
