---
import App from "../App.astro";
---

<App>
  <main class="max-w-full overflow-hidden">
    <!--  Как заказать билет -->
    <section class="max-w-[1160px] mx-auto px-5 xl:px-0">
      <div class="flex mt-[60px] gap-[40px] items-start flex-col lg:flex-row">
        <h2 class="text-[24px] lg:text-[32px] font-semibold lg:w-[150%]">
          Как заказать билет
        </h2>
        <p class="lg:text-[18px]">
          Купить билет на любое событие, представленное на сайте можно
          несколькими способами:
          <br />
          <br />
          Каждый из нас понимает очевидную вещь: повышение уровня гражданского сознания
          требует определения и уточнения прогресса профессионального сообщества.
          Идейные соображения высшего порядка, а также укрепление и развитие внутренней
          структуры требует от нас анализа соответствующих условий активизации. С
          учётом сложившейся международной обстановки, высокотехнологичная концепция
          общественного уклада требует определения и уточнения экономической целесообразности
          принимаемых решений. Не следует, однако, забывать, что синтетическое тестирование
          не даёт нам иного выбора, кроме определения поставленных обществом задач.
          <br />
          <br />
          Сложно сказать, почему активно развивающиеся страны третьего мира будут
          ограничены исключительно образом мышления. Являясь всего лишь частью общей
          картины, представители современных социальных резервов лишь добавляют фракционных
          разногласий и заблокированы в рамках своих собственных рациональных ограничений.
          <br />
          <br />

          Повседневная практика показывает, что высококачественный прототип
          будущего проекта играет определяющее значение для глубокомысленных
          рассуждений. Мы вынуждены отталкиваться от того, что консультация с
          широким активом, а также свежий взгляд на привычные вещи — безусловно
          открывает новые горизонты для поэтапного и последовательного развития
          общества.
          <br />
          <br />
          Кстати, независимые государства превращены в посмешище, хотя само их существование
          приносит несомненную пользу обществу.
          <br />
          <br />
          Следует отметить, что повышение уровня гражданского сознания, а также свежий
          взгляд на привычные вещи — безусловно открывает новые горизонты для соответствующих
          условий активизации!
        </p>
      </div>
    </section>
  </main>
</App>
