<div class="px-[20px] lg:px-[30px] bg-[#F71313] mt-[40px] py-[52px]">
  <div
    class="max-w-[1160px] mx-auto flex flex-col sm:flex-row items-start sm:items-center justify-between gap-5 sm:gap-0"
  >
    <div class="flex items-center justify-start gap-[15px]">
      <img
        src="./assets/images/logo.png"
        alt="logo"
        class="w-[55px] h-[55px]"
      />
      <h1 class="font-medium text-[#fff] text-[24px] md:text-[45px]">
        BILET23.RU
      </h1>
    </div>
    <div class="text-[14px] md:text-base flex flex-col items-start">
      <a href="#" class="text-white hover:underline"
        >109004, Москва, ул. Станиславского, д. 21, стр. 3</a
      >
      <a
        href="mailto:support@ticketland.ru"
        class="text-white hover:underline mt-[5px]">support@ticketland.ru</a
      >
    </div>
  </div>
</div>
