<footer class="mt-[60px] pb-[90px] px-[20px] lg:px-[30px]">
  <div
    class="max-w-[1160px] mx-auto flex justify-between items-start flex-col lg:flex-row"
  >
    <!-- Навигация -->
    <div
      class="flex flex-col items-start md:gap-[70px] md:flex-row justify-between lg:gap-[140px]"
    >
      <!-- О нас -->
      <div class="flex items-start flex-col">
        <p class="text-[#C2C2C2] text-[14px] md:text-[18px] uppercase">О нас</p>

        <a href="#" class="text-[14px] md:text-[18px] hover:underline mt-[10px]"
          >О компании</a
        >
        <a href="#" class="text-[14px] md:text-[18px] hover:underline mt-[5px]"
          >Вакансии</a
        >
        <a href="#" class="text-[14px] md:text-[18px] hover:underline mt-[5px]"
          >Реквизиты</a
        >
        <a href="#" class="text-[14px] md:text-[18px] hover:underline mt-[5px]"
          >Контакты</a
        >
      </div>

      <!-- Посетителям -->
      <div class="flex items-start flex-col mt-[40px] md:mt-0">
        <p class="text-[#C2C2C2] text-[14px] md:text-[18px] uppercase">
          Посетителям
        </p>

        <a href="#" class="text-[14px] md:text-[18px] hover:underline mt-[10px]"
          >Часто задаваемые вопросы</a
        >
        <a href="#" class="text-[14px] md:text-[18px] hover:underline mt-[5px]"
          >Как заказать билеты</a
        >
        <a href="#" class="text-[14px] md:text-[18px] hover:underline mt-[5px]"
          >Возврат билетов</a
        >
      </div>
    </div>

    <!-- Правила -->
    <div class="flex items-start flex-col mt-[40px] lg:mt-0">
      <p class="text-[#C2C2C2] text-[14px] md:text-[18px] uppercase">Правила</p>

      <a href="#" class="text-[14px] md:text-[18px] hover:underline mt-[10px]"
        >Пользовательское соглашение</a
      >
      <a href="#" class="text-[14px] md:text-[18px] hover:underline mt-[5px]"
        >Публичная оферта</a
      >
      <a href="#" class="text-[14px] md:text-[18px] hover:underline mt-[5px]"
        >Политика обработки персональных данных</a
      >
    </div>

    <!-- Social icons -->
    <div
      class="flex items-center justify-start gap-[5px] lg:gap-2 mt-[30px] md:mt-[100px] lg:mt-0 lg:mb-auto"
    >
      <img src="./assets/images/tg.png" alt="tg" />
      <img src="./assets/images/whatsapp.png" alt="whatsapp" />
    </div>
  </div>
</footer>
